@using Stroage.API.RequestModels
@{
    ViewData["Title"] = "Home Page";
    string msg = ViewBag.Msg;
    List<StorehouseDetail>? storehouses = ViewBag.Storehouses;
}

<div class="text-center">
    <h1 class="display-4">庫存</h1>
    <p class="visually-hidden">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@msg</p>
        @if(storehouses is not null ){
            foreach(StorehouseDetail house in storehouses)
            {
                <h2>@house.Name</h2>
                <div class="container">
                    <div class="row ">
                        @foreach(BinDetail bin in house.Bins)
                        {
                            if(string.IsNullOrEmpty(bin.MaterialDesc))
                            {
                                <a class="bins col bg-secondary text-decoration-none text-light m-1 pt-2 pb-2 rounded hover-overlay ripple pb-4" 
                                     onclick="Import('@(bin.BinName)')"
                                     data-binName="@bin.BinName">
                                    @bin.BinName<br>
                                </a>
                            }
                            else
                            {
                                <a class="bins col bg-primary text-decoration-none text-light m-1 pt-2 pb-2 rounded hover-overlay ripple">
                                        @bin.BinName<br>@bin.MaterialDesc: @bin.Quantity
                                </a>
                            }
                        }
                    </div>
                </div>
            }
        }
</div>
@section Scripts{
    <script>
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function Import(binName){
            const uName = getCookie('S_UserName');
            if(!uName){
                alert('請先登入再操作');
                return;
            }
            window.open('../home/index', '_self')
        }

    </script>
}

